{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">

    <div class="postblog-user">
                <div class="col-lg-9 col-md-7">
                <div class="blog-posts col-lg-12 row bg-white mt-5">
                    <div class="col-lg-4 col-md-5 col-sm-12 px0"><img class="w-100" src="{{hotel.image.url}}" alt=""></div>
                    <div class="col-lg-8 col-md-7 col-sm-12 py-4 px-4">
                      <div class="row"> 
                       <a class="col-8" href="#">
                        <h2 >{{hotel.name}}</h2>
                       </a>
                      </div>
                      <p class="text-capitalize">destination: {{hotel.place}}</p>
                        <p>About - {{hotel.description}}</p>
    
                        
                        <p class="col-4 date text-capitalize">Total rooms -  {{hotel.count}}</p>
                        <p class="col-4 date text-capitalize">Perday rate - {{hotel.rate}}</p>
                    </div>
                </div>
                
            </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            {{form.media}}
            <input class="submit btn btn-lg bg-primary text-white" type="submit" value="submit">
        </form>
    </div>

</div>
    
{% endblock %}