

{% extends 'base.html' %}
{% load static %}
{% block content  %}
    <div class="container homepage">
        <div class="row">
            <div class="col-lg-12 mt-1 mobile_search ">
                <div class="bg-white">
                    
                    <form action="" method="GET">
                        <input class="mt-1 col-12 filteritem" type="text" name="checkDate" placeholder="search by date">
                        <input class="mt-1 col-12 filteritem" type="text" name="search" placeholder="search by tiltle or place">
                        <input class="mt-1 col-12 btn btn-sm bg-info text-white" type="submit" value="submit">
                    </form>
                    
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                {% for post in posts%}
                <div class="blog-posts col-lg-12 row bg-white mt-5">
                    <div class="col-lg-4 col-md-5 col-sm-12 px0"><img class="w-100" src="{{post.cover_image.url}}" alt=""></div>
                    <div class="col-lg-8 col-md-7 col-sm-12 py-4 px-4">
                      <div class="row"> 
                       <a class="col-8" href="{% url 'blogdetail' post.id %}">
                        <h2 >{{post.title}}</h2>
                       </a>
                        <p class="col-4 date text-capitalize text-center"> {{post.date |date:"M d Y"}}</p>
                      </div>
                      <p class="text-capitalize">destination: {{post.place}}</p>
                        <p>{{post.description}}</p>
    
                        <div class="author mt-3  text-end">
                            <h6 class="mr-3"> Author: {{post.user}} 
                                <span>
                                    {% if post.user.profileimg %}
                                    <img src="{{post.user.profileimg.profileimg.url}}" alt="">
                                    {% else %}
                                    <img src="{% static 'images/prifiledummy.png' %}" alt="">
                                    {% endif %}
                                </span>
                            </h6>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <p>No data found !</p>
                {% endfor%}
                
            </div>
            <div class="col-lg-3 col-md-3 mt-5 right_menu ">
                <div class="bg-white p-1">
                    <form action="" method="GET">
                        <input class="mt-1 filteritem" type="text" name="checkDate" placeholder="search by date">
                        <input class="mt-1 filteritem" type="text" name="search" placeholder="search by tiltle or place">
                        <input class="mt-2 ml-5 btn btn-sm text-white bg-info" type="submit" value="search">
                    </form>
                    <div class="latest my-4">
                        <div>
                            <h6 class="text-center text-capitalize mb-3">lorem ipsem </h6>
                            {% for author in authors|slice:"5"%}
                            {% if author.blog_set.count >= 2 %}
                            <table>
                                <tr>
                                    <td class="col-3  text-center"><img src="{{author.profileimg.profileimg.url}}" alt=""> </td>
                                    <td class="col-7">{{author}}</td>
                                    <td class="col-2">{{author.blog_set.count }}</td>
                                </tr>
                            </table>
                            {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}